{% comment %}
  icon.liquid
  Usage: {% render 'icon', name: 'arrow_forward' %}
  Renders a Material Symbols Outlined icon.
  @param name {string} - Material Symbol name
  @param class {string} - optional extra CSS classes
{% endcomment %}

{%- assign icon_name = name | default: '' | escape -%}
{%- assign icon_class = class | default: '' | escape -%}
<span class="material-icon {{ icon_class }}" aria-hidden="true">{{ icon_name }}</span>
